<div class="flex flex-col gap-4 relative z-10 mt-2">
  <h1 class="font-bold text-3xl text-white relative left-16 w-fit inline-block">Productos</h1>
  <div class="flex gap-2">
    <!-- SEARCHBAR -->
    <div class="w-full bg-secondary rounded-xl flex h-[54px] items-center p-2 sm:p-4 grow">
      <input
  class="px-2 w-10/12 bg-transparent self-stretch outline-none caret-white rounded focus:border-blue-500 text-acento placeholder:text-sm sm:placeholder:text-sm md:placeholder:text-lg grow"
  type="text" name="searchTerm" id="searchTerm"
  placeholder="Escribe el producto que buscas..."
  [ngModel]="searchTerm"
  (ngModelChange)="searchTerm = $event; filterCards()"
/>

          <button class="w-2/10 flex justify-center items-center self-stretch">
            <img class="w-6 h-6 pointer-events-none" src="../../assets/search.svg" />
          </button>
    </div>
    <!-- BARCODE -->
    <button class="bg-[#4A4458] p-2 grow rounded-xl min-w-[54px] flex justify-center items-center">
      <img class="pointer-events-none w-8" src="../../assets/barcode_scanner.svg" alt="barcode_scanner">
    </button>
  </div>
  
  <ng-container *ngIf="loading; then skeleton; else content;">
  </ng-container>
  <!-- card -->
  <ng-template #content>
    <div class="flex flex-col md:flex-row gap-4 flex-wrap mt-4 lg:grid lg:grid-cols-2 xl:grid-cols-3" >
      <app-card
  class="flex rounded-xl bg-[#2C2934] h-[134px] sm:h-[186px] md:h-[232px] w-full md:grow lg:grow-0"
  *ngFor="let card of filteredCards"
  [card]="card"
></app-card>

    </div>
  </ng-template>
  <div *ngIf="filteredCards.length === 0 && searchTerm" class="text-white">
    No se encontraron resultados.
  </div>
  <!-- skeleton -->
  <ng-template #skeleton>
    <div class="flex flex-col md:flex-row gap-4 flex-wrap mt-4 lg:grid lg:grid-cols-2 xl:grid-cols-3">
      <div class="flex rounded-xl bg-[#2C2934] h-[134px] sm:h-[186px] w-full md:grow lg:grow-0 ">
        <ngx-skeleton-loader
        class="w-[30%]"
        animation="pulse"
        [theme]="{
          'border-radius': '12px 0 0 12px',
          'height': '100%',
          'background-color': '#999',
          'animation-duration': '2s'
        }"
      >
      </ngx-skeleton-loader>
      
        <div class="flex flex-col justify-between p-4 grow">
          <div class="flex flex-col w-full">
            <ngx-skeleton-loader [theme]="{background: '#999', width:'100%'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{background: '#999', width:'90%'}"></ngx-skeleton-loader>
          </div>
            <ngx-skeleton-loader [theme]="{background: '#999', width:'90%'}"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="flex rounded-xl bg-[#2C2934] h-[134px] sm:h-[186px] w-full md:grow lg:grow-0 ">
        <ngx-skeleton-loader
        class="w-[30%]"
        animation="pulse"
        [theme]="{
          'border-radius': '12px 0 0 12px',
          'height': '100%',
          'background-color': '#999',
          'animation-duration': '2s'
        }"
      >
      </ngx-skeleton-loader>
      
        <div class="flex flex-col justify-between p-4 grow">
          <div class="flex flex-col w-full">
            <ngx-skeleton-loader [theme]="{background: '#999', width:'100%'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{background: '#999', width:'90%'}"></ngx-skeleton-loader>
          </div>
            <ngx-skeleton-loader [theme]="{background: '#999', width:'90%'}"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="flex rounded-xl bg-[#2C2934] h-[134px] sm:h-[186px] w-full md:grow lg:grow-0 ">
        <ngx-skeleton-loader
        class="w-[30%]"
        animation="pulse"
        [theme]="{
          'border-radius': '12px 0 0 12px',
          'height': '100%',
          'background-color': '#999',
          'animation-duration': '2s'
        }"
      >
      </ngx-skeleton-loader>
      
        <div class="flex flex-col justify-between p-4 grow">
          <div class="flex flex-col w-full">
            <ngx-skeleton-loader [theme]="{background: '#999', width:'100%'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{background: '#999', width:'90%'}"></ngx-skeleton-loader>
          </div>
            <ngx-skeleton-loader [theme]="{background: '#999', width:'90%'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </ng-template>
  
  